---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Icon from "../components/Icon.astro";
import "../styles/proyectos.css";

import proyecto1 from "../assets/images/proyectos/proyecto1.png";
import proyecto2 from "../assets/images/proyectos/proyecto2.png";
import proyecto3 from "../assets/images/proyectos/proyecto3.png";
import proyectoBash from "../assets/images/proyectos/proyecto-bash.png";
---

<BaseLayout
  activePage={Astro.url.pathname}
  title="Proyectos - Piero"
  description="Explora los proyectos de Piero, incluyendo desarrollo web, scripts y criptografía."
>
  <main class="max-w-7xl mx-auto my-12 pt-12 px-4">
    <div class="text-center mb-12">
      <h1 class="text-3xl font-bold text-white mb-8">Mis Proyectos</h1>
      <p class="text-lg text-gray-300">
        Una selección de proyectos en los que he trabajado.
      </p>
    </div>

    <div class="grid gap-8 md:grid-cols-2">
      <!-- Proyecto 1 -->
      <div
        class="bg-slate-800 shadow-lg rounded-xl overflow-hidden flex flex-col"
      >
        <Image
          src={proyecto1}
          alt="Imagen del proyecto 1"
          width={700}
          height={400}
          loading="lazy"
          class="h-48 w-full object-cover"
        />
        <div class="p-6 flex flex-col flex-grow">
          <h5 class="text-xl font-semibold mb-2 text-white">Portafolio</h5>
          <p class="text-gray-300 mb-4">
            Mi primer portafolio elaborado en Bootstrap
          </p>
          <div class="mt-auto flex justify-between items-center">
            <div class="space-x-2 flex">
              <a
                href="https://github.com/piero-hm/portafolio-bootstrap"
                target="_blank"
                class="inline-flex items-center px-3 py-1 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700 transition transform hover:scale-105"
              >
                <Icon name="github" class="mr-1 h-4 w-4" />
                Ver código</a
              >
              <a
                href="#"
                target="_blank"
                class="inline-flex items-center px-3 py-1 border border-gray-400 text-gray-300 text-sm rounded-lg hover:bg-gray-700 hover:border-blue-600 transition transform hover:scale-105"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-external-link mr-1"
                  ><path
                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                  ></path><polyline points="15 3 21 3 21 9"></polyline><line
                    x1="10"
                    y1="14"
                    x2="21"
                    y2="3"></line></svg
                > Demo</a
              >
            </div>
            <div class="flex items-center space-x-1 text-white">
              <Icon
                name="html"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
              <Icon
                name="css"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
              <Icon
                name="bootstrap"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 2 -->
      <div
        class="bg-slate-800 shadow-lg rounded-xl overflow-hidden flex flex-col"
      >
        <Image
          src={proyecto2}
          alt="Imagen del proyecto 2"
          width={700}
          height={400}
          loading="lazy"
          class="h-48 w-full object-cover"
        />
        <div class="p-6 flex flex-col flex-grow">
          <h5 class="text-xl font-semibold mb-2 text-white">
            Proyecto Panadería
          </h5>
          <p class="text-gray-300 mb-4">proyecto en proceso</p>
          <div class="mt-auto flex justify-between items-center">
            <div class="space-x-2 flex">
              <a
                href="https://github.com/piero-hm/pasteleria-test"
                target="_blank"
                class="inline-flex items-center px-3 py-1 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700 transition transform hover:scale-105"
              >
                <Icon name="github" class="mr-1 h-4 w-4" />
                Ver código</a
              >
              <a
                href="#"
                target="_blank"
                class="inline-flex items-center px-3 py-1 border border-gray-400 text-gray-300 text-sm rounded-lg hover:bg-gray-700 hover:border-blue-600 transition transform hover:scale-105"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-external-link mr-1"
                  ><path
                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                  ></path><polyline points="15 3 21 3 21 9"></polyline><line
                    x1="10"
                    y1="14"
                    x2="21"
                    y2="3"></line></svg
                > Demo</a
              >
            </div>
            <div class="flex items-center space-x-1 text-white">
              <Icon
                name="html"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
              <Icon
                name="css"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
              <Icon
                name="astro"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
              <Icon
                name="tailwindcss-wordmark"
                class="flex justify-center items-center h-6 w-auto transition-transform duration-200 hover:scale-125"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 3 -->
      <div
        class="bg-slate-800 shadow-lg rounded-xl overflow-hidden flex flex-col"
      >
        <Image
          src={proyecto3}
          alt="Imagen del proyecto 3"
          width={700}
          height={400}
          loading="lazy"
          class="h-48 w-full object-cover"
        />
        <div class="p-6 flex flex-col flex-grow">
          <h5 class="text-xl font-semibold mb-2 text-white">
            crypto-mini-proyectos-python
          </h5>
          <p class="text-gray-300 mb-4">
            Pequeña colección de ejercicios y mini-proyectos en Python de los
            que practiqué conceptos básicos de criptografía.
          </p>
          <div class="mt-auto flex justify-between items-center">
            <div class="space-x-2 flex">
              <a
                href="https://github.com/piero-hm/criptografia-basica-python"
                target="_blank"
                class="inline-flex items-center px-3 py-1 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700 transition transform hover:scale-105"
              >
                <Icon name="github" class="mr-1 h-4 w-4" />
                Ver código</a
              >
              <a
                href="#"
                target="_blank"
                class="inline-flex items-center px-3 py-1 border border-gray-400 text-gray-300 text-sm rounded-lg hover:bg-gray-700 hover:border-blue-600 transition transform hover:scale-105"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-external-link mr-1"
                  ><path
                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                  ></path><polyline points="15 3 21 3 21 9"></polyline><line
                    x1="10"
                    y1="14"
                    x2="21"
                    y2="3"></line></svg
                > Demo</a
              >
            </div>
            <div class="flex items-center text-white">
              <Icon
                name="python"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 4 -->
      <div
        class="bg-slate-800 shadow-lg rounded-xl overflow-hidden flex flex-col"
      >
        <Image
          src={proyectoBash}
          alt="Imagen del proyecto 4"
          width={700}
          height={400}
          loading="lazy"
          class="h-48 w-full object-cover"
        />
        <div class="p-6 flex flex-col flex-grow">
          <h5 class="text-xl font-semibold mb-2 text-white">
            Script en bash - snapinfo
          </h5>
          <p class="text-gray-300 mb-4">
            Script en Bash que genera un snapshot rápido del sistema (kernel,
            CPU, memoria, disco, IPs y procesos) y guarda el informe con
            timestamp para diagnósticos.
          </p>
          <div class="mt-auto flex justify-between items-center">
            <div class="space-x-2 flex">
              <a
                href="https://github.com/piero-hm/bash-practice"
                target="_blank"
                class="inline-flex items-center px-3 py-1 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700 transition transform hover:scale-105"
              >
                <Icon name="github" class="mr-1 h-4 w-4" />
                Ver código</a
              >
              <a
                href="#"
                target="_blank"
                class="inline-flex items-center px-3 py-1 border border-gray-400 text-gray-300 text-sm rounded-lg hover:bg-gray-700 hover:border-blue-600 transition transform hover:scale-105"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-external-link mr-1"
                  ><path
                    d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                  ></path><polyline points="15 3 21 3 21 9"></polyline><line
                    x1="10"
                    y1="14"
                    x2="21"
                    y2="3"></line></svg
                > Demo</a
              >
            </div>
            <div class="flex items-center text-white">
              <Icon
                name="bash"
                class="h-6 w-6 transition-transform duration-200 hover:scale-125"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
